{% extends 'layouts/base.html.twig'%}
{% block title 'Invoice updated  page' %}

{% block body %}
    <body>
    <h2 class="h2 text-center text-secondary">Upadted formation {{invoices.id}}</h2>
        {{ form_start(formulaire) }}
        {{ form_widget(formulaire) }}
        <div class="d-grid mx-auto col-6">
            <button type="submit" class="btn btn-primary">Update invoice</button>
        </div>
        {{ form_end(formulaire) }}
    </body>
{% endblock %}
