<!DOCTYPE html>
<html lang={{ app.request.locale }}>
    <head>
        <meta charset="UTF-8">

        <title> 
            {% block title %}Success consults!{% endblock %} 
        </title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

         <link rel="stylesheet" href="{{ asset('assets/css/styleUser.css') }}">


    </head>







    <body>

         {% block body %}{% endblock %}



        {% block javascripts %}
          {{ encore_entry_script_tags('app') }}
        {% endblock %}

  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js%2bpopper.min.js%2bbootstrap.min.js.pagespeed.jc.-waaHJRH53.js"></script>
  <script>eval(mod_pagespeed_2RTyXK5Orp);</script>
  <script>eval(mod_pagespeed_2v5bfFyPJ5);</script>
  <script>eval(mod_pagespeed_mR96Zij9SP);</script>
  <script
    src="js/jquery.easing.1.3.js%2bjquery.waypoints.min.js%2bjquery.stellar.min.js%2bowl.carousel.min.js.pagespeed.jc.LO94h43Whv.js"></script>
  <script>eval(mod_pagespeed_FjRwX7Kbxe);</script>
  <script>eval(mod_pagespeed_pf0ppyQgZ6);</script>
  <script>eval(mod_pagespeed_az0C1sjZgG);</script>
  <script>eval(mod_pagespeed_6exUBPje5j);</script>
  <script
    src="js/jquery.magnific-popup.min.js%2baos.js%2bjquery.animateNumber.min.js%2bscrollax.min.js%2bgoogle-map.js%2bmain.js.pagespeed.jc.Qb1TWqfkjq.js"></script>
  <script>eval(mod_pagespeed_HGoNukMl9$);</script>
  <script>eval(mod_pagespeed_upFaBxDpPv);</script>
  <script>eval(mod_pagespeed_gou$v8L2wH);</script>
  <script>eval(mod_pagespeed__u3GoWjRoa);</script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&amp;sensor=false"></script>
  <script>eval(mod_pagespeed_qy1S82iJgm);</script>
  <script>eval(mod_pagespeed_2s8I3HAVqC);</script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
  </script>
  <script defer src="../../../static.cloudflareinsights.com/beacon.min.js"
    data-cf-beacon='{"rayId":"68d011c5e80b03c2","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.8.1","si":10}'></script>

    </body>

</html>