<footer class="container text-center mx-auto mt-5">
    <p class="muted">
        <small>
            &copy; {{ 'now' | date('Y-M') }} &middot; Build with <span class="text-danger">&hearts;</span>
            Buy Gilgamesh
        </small>
    </p>
</footer>